<div class="alert alert-info" role="alert">
  <p class="mb-0">User: <%= message.user.email %></p>
  <p class="mb-0">Message: <%= message.content %></p>
  <p class="mb-0">Date: <%= message.created_at.strftime('%a %b %e %T %Y') %></p>
  <div class="clearfix"></div>
</div>
