<%= render 'layouts/user_greeting' %>
<h1>Welcome to Rooms!</h1>
<p>Please find below all the enabled rooms</p>

<% @rooms.each do |room| %>
  <%= link_to room.name, single_room_path(room.id) %>
<% end %>
